@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:rgb(238,238,238);
  overflow: hidden;
  font-family: sans-serif;
}
.cursor{
  position: absolute;
  left: 0;
  top: 0;
  height: 63px;
  width: 63px;
  border: 1.5px solid black;
  border-radius: 50%;
  transition: 200ms;
  transition-timing-function: ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.arrow:first-of-type{
  transition:margin 200ms;
  transform: rotateZ(180deg);
  margin-left: 5px;
}
.arrow:nth-of-type(2){
  transition:margin 200ms;
  margin-right: 5px;
}
.arrow{
  height: 20px;
  width: 20px;
}
#img-caption{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 32px;
  z-index: 999;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  padding:40px 30px 0px 30px;
}
nav>svg{
  height: 15px;
}
nav>p{
  font-size: 18px;
  letter-spacing: 1px;
}
nav>div>a{
  text-decoration: none;
  margin-right: 15px;
  color: black;

}
nav>div{
  display: flex;
  align-items: center;
}
nav>div>button{
  border-radius: 50%;
  border: 0.5px solid black;
  padding: 5px 10px;
  margin: 0 2px;
  background: transparent;
  font-weight: 200;
  font-size: 12px;
}
.selected-lang, nav>div>button:hover{
  background-color: black;
  color: white;
}